<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于潮汐友人帐</title>
  <link rel="stylesheet" href="https://jsd.cdn.sinzmise.top/npm/bulma@0.9.4/css/bulma.min.css"> 
  <link rel="stylesheet" href="https://jsd.cdn.sinzmise.top/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css"> 
  <link rel="stylesheet" href="/style.css"> 
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <i class="fas fa-link"></i> 潮汐友人帐 
        </h1>
      </div>
    </div>
  </section>
 
  <section id="main" class="section">
    <div class="container">
      <div class="tabs is-boxed is-centered mb-5">
        <ul>
            <li><a href="/">友人帐</a></li> 
            <li><a href="/circle">朋友圈</a></li>
            <li><a href="/about">添加友链/关于</a></li>
        </ul>
      </div>
      <div class="content">
        <!-- ABOUT -->
      </div>
    </div>
  </section>
 
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://www.storical.space/">故事空间</a> · <a href="https://blog.storical.space/">汐塔魔法屋</a> · <a href="https://diary.sinzmise.top/">中弦记事本</a> 
      </p>
      <p>
        <strong>潮汐友人帐</strong> - 使用 <a href="https://deno.land/">Deno</a>  和 <a href="https://bulma.io/">Bulma</a>  构建 
      </p>
    </div>
  </footer>

  <script src="https://jsd.cdn.sinzmise.top/npm/pjax/pjax.min.js"></script>
  <script>
    let pjax = new Pjax({
      selectors: ["title",".hero-body","#main","footer"],
      history: true, //是否添加近浏览器历史记录
      pushState: true,//是否启用 pushState。禁用后 Pjax 就变成了 Ajax。
      scrollRestoration: true,//切换页面后，Pjax 将尝试恢复滚动位置。
      cacheBust: false //是否在 URL 上添加时间戳，防止浏览器缓存。
    })
  </script>
</body>
</html>