<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>潮汐朋友圈</title>
  <link rel="stylesheet" href="https://jsd.cdn.sinzmise.top/npm/bulma@0.9.4/css/bulma.min.css"> 
  <link rel="stylesheet" href="https://jsd.cdn.sinzmise.top/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css"> 
  <link rel="stylesheet" href="/style.css"> 
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <i class="fas fa-link"></i> 潮汐朋友圈
        </h1>
        <p class="subtitle">
          <a href="/"><i class="fas angle-double-left"></i>回到友人帐</a>
        </p>
      </div>
    </div>
  </section>
 
  <section id="main" class="section">
    <div class="container">
      <div id="friend-circle-lite-root"></div>
      <script>
            if (typeof UserConfig === 'undefined') {
                var UserConfig = {
                    // 填写你的fc Lite地址
                    private_api_url: 'https://fc.blog.sinzmise.top/',
                    // 点击加载更多时，一次最多加载几篇文章，默认20
                    page_turning_number: 24,
                    // 头像加载失败时，默认头像地址
                    error_img: 'https://pic.imgdb.cn/item/6695daa4d9c307b7e953ee3d.jpg',
                }
            }
      </script>
      <link rel="stylesheet" href="https://jsd.cdn.sinzmise.top/gh/willow-god/Friend-Circle-Lite/main/fclite.min.css">
      <script src="https://jsd.cdn.sinzmise.top/gh/willow-god/Friend-Circle-Lite/main/fclite.min.js"></script>
    </div>
  </section>
 
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://www.storical.space/">故事空间</a> · <a href="https://blog.storical.space/">汐塔魔法屋</a> · <a href="https://diary.sinzmise.top/">中弦记事本</a> 
      </p>
    </div>
  </footer>

  <script src="https://jsd.cdn.sinzmise.top/npm/pjax/pjax.min.js"></script>
  <script>
    let pjax = new Pjax({
      selectors: ["title",".hero-body","#main","footer"],
      history: true, //是否添加近浏览器历史记录
      pushState: true,//是否启用 pushState。禁用后 Pjax 就变成了 Ajax。
      scrollRestoration: true,//切换页面后，Pjax 将尝试恢复滚动位置。
      cacheBust: false //是否在 URL 上添加时间戳，防止浏览器缓存。
    })
  </script>
</body>
</html>